html body {
  font-family: 'Source Sans Pro', sans-serif;
}

.navbar-toggler-icon {
  -webkit-transition: .3s;
  transition: .3s;
}

.navbar-toggler-icon-2 {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

.navbar.navbar-light .navbar-toggler-icon-2 {
  cursor: pointer;
  background-image: url("../img/icon/cancel.png");
}

.shadow-none, .shadow-sm, .shadow, .shadow-lg {
  -webkit-transition: .6s;
  transition: .6s;
}

.shadow-custom {
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  -webkit-transition: .6s;
  transition: .6s;
}

.padding-custom {
  padding: 0px 0px;
}

.bg-putih {
  background-color: white;
}

.jarak-atas {
  margin-top: 100px;
}

.jarak-atas-content {
  margin-top: 75px;
}

.hr-custom {
  border-top: 8px solid #242424;
  border-radius: 5px;
  width: 50px;
}

.nav-tabs {
  border-bottom: 0;
}

.nav-tabs .nav-link {
  border: 0;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.233);
  font-weight: 700;
  font-size: 13px;
}

.nav-tabs .nav-link.active {
  color: white;
  background-color: #4285f4;
  border: 2px solid #4285f4;
}

.slick-next::before, .slick-prev::before {
  color: transparent;
}

.profil-kirikanan {
  -webkit-transition: .6s;
  transition: .6s;
}

.profil-kirikanan:hover {
  -webkit-transition: .6s;
  transition: .6s;
  background-color: #116cff;
  color: whitesmoke;
  cursor: pointer;
}

.profil-kirikanan:hover .progress-bar {
  background-color: #00c851;
  -webkit-transition: .6s;
  transition: .6s;
}

.profil-transform {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .6s;
  transition: .6s;
  position: relative;
  z-index: 0;
}

.profil-transform:hover {
  -webkit-transition: .6s;
  transition: .6s;
  cursor: pointer;
  background-color: #116cff;
  color: whitesmoke;
}

.img-react {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 1s;
  transition: 1s;
}

.img-react:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.list:hover {
  cursor: pointer;
}

.bg-porto {
  background-color: #f0f0f0;
}

.bg-abu {
  background-color: #272727;
}

.github-color {
  background-color: #333333;
  color: white;
}

.github-color:hover {
  background-color: #1f1f1f;
  color: white;
}

.behance-color {
  background-color: #0066ff;
  color: white;
}

.behance-color:hover {
  background-color: #0066ff;
  color: white;
}

.linkedin-color {
  background-color: #0082ca;
}

.linkedin-color:hover {
  background-color: #0082ca;
}

.instagram-color {
  background-color: #ac2bac;
  color: white;
}

.instagram-color:hover {
  background-color: #ac2bac;
  color: white;
}

.twitter-color {
  background-color: #55acee;
  color: white;
}

.twitter-color:hover {
  background-color: #55acee;
  color: white;
}

.study-color {
  background-color: #ff9900;
  color: white;
}

.study-color:hover {
  background-color: #dd8500;
  color: white;
}

.xd {
  width: 55%;
}

.bootstrap {
  width: 90%;
}

.vue {
  width: 35%;
}

.progress-bar {
  background-color: #4285f4;
  -webkit-transition: .6s;
  transition: .6s;
}

.card-bg-profil {
  background-image: url(../img/topi.png);
  background-size: 10rem;
  background-repeat: no-repeat;
  background-position: center;
}

.card-bg-skill {
  background-image: url(../img/skill.png);
  background-size: 10rem;
  background-repeat: no-repeat;
  background-position: center;
}

.card-bg-summary {
  background-image: url(../img/information-button.png);
  background-size: 10rem;
  background-repeat: no-repeat;
  background-position: center;
}

.display-4 {
  font-size: 2.5rem;
}

#modal-2 .modal-dialog .modal-content {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
}

#modal-2 .fade {
  background-color: rgba(0, 0, 0, 0.623);
}

#modal-3 .modal-dialog .modal-content {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
}

#modal-3 .fade {
  background-color: rgba(0, 0, 0, 0.623);
}

@media (min-width: 992px) {
  .jarak-atas {
    margin-top: 150px;
  }
  .padding-custom {
    padding: 0px 15px;
  }
  .slick-next::before, .slick-prev::before {
    color: #4285f4;
  }
  .profil-transform {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
    -webkit-transition: .6s;
    transition: .6s;
    position: relative;
    z-index: 1;
  }
  .profil-transform:hover {
    -webkit-transition: .6s;
    transition: .6s;
    cursor: pointer;
    background-color: #116cff;
    color: whitesmoke;
  }
  .display-4 {
    font-size: 3.5rem;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
/*# sourceMappingURL=custom.css.map */