<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/7.1.0/swiper-bundle.min.css">
  <link rel="stylesheet" href="scss/custom.css">
  <link rel="stylesheet" href="scss/custom.css.map">
  <link rel="icon" type="image/png" href="img/logo.png">
  <title>Ilham Page</title>
</head>
<body>

  <div id="app">

      <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-putih shadow-none">
        <div class="container">
        <button class="navbar-toggler second-button py-2" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="navbarSupportedContent23" aria-expanded="false" aria-label="Toggle navigation">
          <div class="animated-icon2"><span></span><span></span><span></span><span></span></div>
        </button>
          <div class="collapse navbar-collapse" id="basicExampleNav">
            <ul class="navbar-nav mr-auto">
              <a class="nav-link pl-2 pl-lg-0" href="#">
                <div class="d-flex flex-row align-items-center">
                  <div class="mr-2">
                    <img :src="info.photo" class="rounded-circle z-depth-0"
                    alt="avatar image" height="50">
                  </div>
                  <div>
                    <p class="h6 mb-0 font-weight-bold">{{profile.Name}}</p>
                    <p class="mb-0"><small>{{profile.Job}}</small></p>
                  </div>
                </div>
              </a>            
            </ul>
            <ul class="navbar-nav">
              <button type="button" class="btn btn-dark"><code class="text-white text-lowercase">$ cd portfolio/ilham-wahyudin <span class="animated flash infinite slow">|</span></code></button>
            </ul>
          </div>
        </div>
      </nav>

    <div id="hero" class="jarak-atas">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-5 mb-5 mb-lg-0">
            <div class="pesan text-center text-lg-left">
              <p class="h3 animated fadeInLeft">Hello i'm,</p>
              <h1 class="display-4 font-weight-bold animated fadeInLeft">{{profile.Name}}</h1>
              <p class="h5 text-muted animated fadeInLeft">{{profile.Job}}</p>
            </div>
            <div class="sosmed text-center text-lg-left mt-5">
              <p class="h6 font-weight-bold animated fadeInDown delay-1s">My Social Account, </p>
              <div class="d-flex justify-content-center justify-content-lg-start flex-wrap">
                <div class="mr-2 ml-2 ml-lg-0 p-2 p-xl-0 animated fadeInDown delay-1s" v-for="s in social">
                  <a type="button" :class="['btn m-0', s.color]" :href="s.link">
                    <i :class="['fab fa-lg', s.icon]"></i>
                  </a>
                </div>
              </div>
              <div class="resume mt-4">
                <p class="h6 font-weight-bold animated fadeInUp delay-1s">Email,</p>
                <a type="button" class="btn btn-primary waves-effect m-0 mr-1 animated fadeInUp delay-1s" data-toggle="modal" data-target="#basicExampleModal">
                  <i class="fas fa-lg fa-envelope"></i> &nbsp; Gmail
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-7 text-lg-right">
            <div class="animated zoomIn delay-2s">
              <img :src="info.heroImage" class="img-fluid" alt="Responsive image">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="profil" class="bg-porto mb-5 pt-5 pb-5">
      <div class="container">
        <div class="text-center mb-4 mb-lg-5">
          <h3><strong>Personal</strong> <span class="badge badge-primary animated flash infinite slow">PROFILE</span></h3>
        </div>
        <div class="row">
          <div class="col-12 col-xl-4 mb-2 mb-xl-0">
            <div class="card card-bg-profil profil-kirikanan p-4 h-100">
              <p class="h6 font-weight-bold text-center mb-3">
                IDENTITY <i class="fas fa-check-circle text-success"></i>
              </p>
              <div class="row" v-for="(value, name) in profile">
                <div class="col-4 col-md-5 col-lg-6 col-xl-5 text-right">
                  <p class="small small-custom mb-1">
                    <strong>{{name}}</strong>
                  </p>
                </div>
                <div class="col-8 col-md-7 col-lg-6 col-xl-7">
                  <p class="small small-custom mb-1">
                    {{value}}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-xl-4 mb-2 mb-xl-0">
            <div class="card card-bg-summary p-4 profil-transform h-100">
              <p class="h6 font-weight-bold text-center mb-3">
                SUMMARY <i class="fas fa-check-circle text-success"></i>
              </p>
              <p class="small small-custom text-center">{{info.summary}}</p>
            </div>
          </div>
          <div class="col-12 col-xl-4 mb-2 mb-xl-0">
            <div class="card card-bg-skill profil-kirikanan p-4 h-100">
              <p class="h6 font-weight-bold text-center mb-3">
                SKILLS <i class="fas fa-check-circle text-success"></i>
              </p>
              <div class="row" v-for="s in skill">
                <div class="col-4 col-md-2 col-lg-4">
                  <p class="small small-custom text-right mb-0"><strong>{{s.software}}</strong></p>
                </div>
                <div class="col-8 col-md-10 col-lg-6">
                  <div class="progress mb-3">
                    <div :class="['progress-bar', s.class]" role="progressbar" :aria-valuenow="s.value" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="certifate jarak-atas-content">
          <div class="row">
            <div class="col-12 col-lg-6 mb-2 mb-lg-0">
              <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header bg-white" id="headingOne">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-center text-decoration-none font-weight-bold acrdn-icn-collpase-1" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <div class="d-flex flex-row justify-content-center align-items-center">
                          <div class="acrdn-desc mr-2">
                            Database Administration Fundamentals Certificated
                          </div>
                          <div class="acrdn-icn">
                            <div class="animated-arrow"><span></span><span></span><span></div>
                          </div>
                        </div>
                      </button>
                    </h2>
                  </div>
                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                      <img src="./img/sertif-db 1.png" class="img-fluid shadow-sm" alt="Responsive image">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6 mb-2 mb-lg-0">
              <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header bg-white" id="headingTwo">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-center text-decoration-none font-weight-bold acrdn-icn-collpase-2" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        <div class="d-flex flex-row justify-content-center align-items-center">
                          <div class="acrdn-desc mr-2">
                            Full-Stack Website Designer Certificated
                          </div>
                          <div class="acrdn-icn">
                            <div class="animated-arrow-2"><span></span><span></span><span></div>
                          </div>
                        </div>
                      </button>
                    </h2>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                      <img src="./img/sertif-ux 1.png" class="img-fluid shadow-sm" alt="Responsive image">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="portfolio" class="mb-5">
      <div class="container-fluid">
        <div class="text-center mb-4">
          <h3><strong>Example Design</strong> <span class="badge badge-primary animated flash infinite slow">PIN</span></h3>
        </div>
        <div class="swiper mySwiper-1">
          <div class="swiper-wrapper">
            <div class="swiper-slide py-1 px-1" v-for="d in design" :key="d.id">
              <div class="card text-center text-lg-left">
                <div class="view overlay">
                  <img class="card-img-top" :src="d.img"
                    alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <div class="card-body">
                  <span :class="['mr-1 mb-3', d.badgeclass]">{{d.label}}</span>
                  <span :class="['mr-1 mb-3', d.badgeclass]">{{d.labelb}}</span>
                  <p class="h6 font-weight-bold">{{d.title}}</p>
                  <p class="small small-custom">{{d.tools}} <i class="far fa-check-circle text-success"></i></p>
                  <a :href="d.behance" :class="['mr-2', d.beclass]" :data-toggle="d.toggle" :data-target="d.target">
                    <i :class="['fab', d.beicon]"></i> {{d.brandb}}
                  </a>
                  <a :href="d.github" :class="[d.gitclass]" :data-toggle="d.toggleb" :data-target="d.targetb">
                    <i :class="d.giticon"></i> {{d.brand}}
                  </a>
                </div>
              </div> 
            </div>
          </div>
          <div id="swp-pagination-1" class="pt-3">
            <div class="swiper-pagination-1 d-flex justify-content-center"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="work-method bg-porto py-5">
      <div class="container">
        <div class="text-center mb-5">
          <h3><strong>Design</strong> <span class="badge badge-primary animated flash infinite slow">METHOD</span></h3>
        </div>
        <div class="row justify-content-between mb-lg-5 py-lg-4">
          <div class="col-12 col-lg-5 d-flex align-items-center mb-4 mb-lg-0">
            <div class="desc w-100 py-5">
              <p class="h4 font-weight-bold text-center text-lg-left mb-3">
                <span class="badge badge-primary">1</span> Problem Analyzing <i class="far fa-check-circle text-success"></i>
              </p>
              <p class="h5 text-center text-lg-left mb-0">
                Analyzing User Interface and solving it if there is a problem in layout and responsiveness, because it can be bad for the user experience.
              </p>
            </div>
          </div>
          <div class="col-12 col-lg-5 d-flex align-items-center">
            <img src="img/analyze.svg" class="img-fluid" alt="Responsive image">
          </div>
        </div>
        <hr class="my-5 hr-custom d-lg-none">
        <div class="row justify-content-between mb-lg-5 py-lg-4">
          <div class="col-12 col-lg-5 d-flex align-items-center mb-4 mb-lg-0">
            <img src="img/wireframe.svg" class="img-fluid" alt="Responsive image">
          </div>
          <div class="col-12 col-lg-5 d-flex align-items-center">
            <div class="desc w-100 py-5">
              <p class="h4 font-weight-bold text-center text-lg-left mb-3">
                <span class="badge badge-primary">2</span> Wireframing <i class="far fa-check-circle text-success"></i>
              </p>
              <p class="h5 text-center text-lg-left mb-0">
                Creating new layout using Low-Fidelity design as a Blueprint sample layout structure.
              </p>
            </div>
          </div>
        </div>
        <hr class="my-5 hr-custom d-lg-none">
        <div class="row justify-content-between mb-lg-5 py-lg-4">
          <div class="col-12 col-lg-5 d-flex align-items-center mb-4 mb-lg-0">
            <div class="desc w-100 py-5">
              <p class="h4 font-weight-bold text-center text-lg-left mb-3">
                <span class="badge badge-primary">3</span> Assets Selection <i class="far fa-check-circle text-success"></i>
              </p>
              <p class="h5 text-center text-lg-left mb-0">
                Create, collecting, and grouping the assets, like a image, icon, color based, font style, etc. 
              </p>
            </div>
          </div>
          <div class="col-12 col-lg-5 d-flex align-items-center">
            <img src="img/asset.svg" class="img-fluid" alt="Responsive image">
          </div>
        </div>
        <hr class="my-5 hr-custom d-lg-none">
        <div class="row justify-content-between mb-lg-5 py-lg-4">
          <div class="col-12 col-lg-5 d-flex align-items-center mb-4 mb-lg-0">
            <img src="img/code.svg" class="img-fluid" alt="Responsive image">
          </div>
          <div class="col-12 col-lg-5 d-flex align-items-center">
            <div class="desc w-100 py-5">
              <p class="h4 font-weight-bold text-center text-lg-left mb-3">
                <span class="badge badge-primary">4</span> Transform To Code <i class="far fa-check-circle text-success"></i>
              </p>
              <p class="h5 text-center text-lg-left mb-0">
                Transform Mockup or Wireframe to code using UI Framework like a Bootstrap, Materialize, Bulma, etc.
              </p>
            </div>
          </div>
        </div>
        <hr class="my-5 hr-custom d-lg-none">
        <div class="row justify-content-between mb-lg-5 py-lg-4">
          <div class="col-12 col-lg-5 d-flex align-items-center mb-4 mb-lg-0">
            <div class="desc w-100 py-5">
              <p class="h4 font-weight-bold text-center text-lg-left mb-3">
                <span class="badge badge-primary">5</span> Beta Testing <i class="far fa-check-circle text-success"></i>
              </p>
              <p class="h5 text-center text-lg-left mb-0">
                After developing using code, then i'm testing this code based prototype to user for get feedback, and report if find bug in interface. 
              </p>
            </div>
          </div>
          <div class="col-12 col-lg-5 d-flex align-items-center">
            <img src="img/testing.svg" class="img-fluid" alt="Responsive image">
          </div>
        </div>
        <hr class="my-5 hr-custom d-lg-none">
        <div class="row justify-content-between py-lg-5">
          <div class="col-12 col-lg-5 d-flex align-items-center mb-4 mb-lg-0">
            <img src="img/done.svg" class="img-fluid" alt="Responsive image">
          </div>
          <div class="col-12 col-lg-5 d-flex align-items-center">
            <div class="desc w-100 py-5">
              <p class="h4 font-weight-bold text-center text-lg-left mb-3">
                <span class="badge badge-primary">6</span> Finish and Goals <i class="far fa-check-circle text-success"></i>
              </p>
              <p class="h5 text-center text-lg-left mb-0">
                Get a reward after finishing this design.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="work-tool bg-white my-5">
      <div class="container-fluid px-lg-0 padding-custom">
        <div class="text-center mb-4">
          <h3><strong>Experience</strong> <span class="badge badge-primary animated flash infinite slow">IN</span></h3>
        </div>
        <div class="swiper mySwiper-2">
          <div class="swiper-wrapper">
            <div class="swiper-slide py-1 px-1" v-for="t in tools">
              <div class="list text-center">
                <i :class="['fa-5x', t.icon]"></i>
                <p class="h6 font-weight-bold mt-3">{{t.title}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="footer" class="pt-5 bg-dark">
      <div class="container">
        <div class="row text-center text-lg-left">
          <div class="col-12 col-lg-4 text-white mb-4">
            <p class="h6 font-weight-bold mb-2">ABOUT</p>
            <p class="small text-muted mb-0">
              This Portfolio Website, design using <span class="text-primary">MDBootstrap</span> for UI, and <span class="text-success">VueJS</span> for reactive data render, also <span class="text-danger">Swiper JS</span>.
            </p>
          </div>
          <div class="col-12 col-lg-2 text-white mr-lg-auto mb-4">
            <p class="h6 font-weight-bold mb-2">FRAMEWORK & PLUGIN</p>
            <p class="mb-0"><a href="https://mdbootstrap.com/" class="text-muted"><small>MDBootstrap</small></a></p>
            <p class="mb-0"><a href="https://vuejs.org/" class="text-muted"><small>VueJS</small></a></p>
            <p class="mb-0"><a href="https://swiperjs.com/get-started" class="text-muted"><small>Swiper JS</small></a></p>
          </div>
          <div class="col-12 col-lg-2 text-white text-lg-right mb-4">
            <p class="h6 font-weight-bold mb-2">STATUS</p>
            <p class="small text-muted mb-0">On Testing&nbsp; <i class="fas fa-circle text-danger animated flash infinite slow"></i></p>
          </div>
        </div>
      </div>
      <div class="baner bg-abu py-3">
        <div class="container align-items-center">
          <div class="d-flex flex-row align-items-center">
            <div class="mr-4">
              <a href="https://mdbootstrap.com/docs/b4/jquery/" class="text-muted"><i class="fab fa-2x fa-bootstrap"></i></a>
            </div>
            <div class="mr-auto">
              <a href="https://vuejs.org/v2/guide/" class="text-muted"><i class="fab fa-2x fa-vuejs"></i></a>
            </div>
            <div>
              <p class="small text-muted mb-0">&copy; Copyright {{profile.Name}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="modal">
      <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title font-weight-bold" id="exampleModalLabel">Email</h5>
          </div>
          <div class="modal-body p-4">
            <img :src="email.gambar" class="img-fluid d-block mx-auto mb-4" alt="..." width="150rem"/>
            <p class="h5 text-center">{{email.akun}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="modal-2">
      <div class="modal fade" id="basicExampleModal-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="text-center">
                <img src="./img/notif.png" class="img-fluid" alt="Responsive image" style="width: 15rem;">
              </div>
              <p class="h3 text-white text-center font-weight-light mt-5"><span class="font-weight-bold">Behance</span> Page Not Available For This Design</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="modal-3">
      <div class="modal fade" id="basicExampleModal-3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <img src="./img/live.png" class="img-fluid" alt="Responsive image">
              <p class="h3 text-white text-center font-weight-light mt-5"><span class="font-weight-bold">Live Demo</span> Not Available For This Design</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/7.1.0/swiper-bundle.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script type="text/javascript" src="js/script.js"></script>
  <script type="text/javascript" src="js/data.js"></script>
</body>
</html>